@using Microsoft.AspNetCore.Identity
@inject SignInManager<NuJournalUser> SignInManager
@inject UserManager<NuJournalUser> UserManager

@{
    NuJournalUser nuJournalUser = await UserManager.GetUserAsync(User);
    var displayName = "User";
}

@if (SignInManager.IsSignedIn(User))
{
    @if (nuJournalUser is not null) displayName = nuJournalUser.DisplayName;
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @displayName<span>!</span></a></li>

    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link px-lg-3 py-3 py-lg-4 btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
} 