@page
@model OwnerPanelModel

@if (User.IsInRole("Owner"))
{
    ViewData["Title"] = "Owner's Control Panel";
    ViewData["ActivePage"] = ManageNavPages.OwnerPanel;
 
    <h3>@ViewData["Title"]</h3>
    <div class="row">
        <div class="col-md-6">
            <p>Add a new user account or edit the settings for existing users.</p>
            <div class="row">
                <div class="col-md-6 mt-4">
                    <a id="add-new-user" asp-page="./AddNewUser" class="btn btn-primary w-100">Add New User</a>
                </div>
                <div class="col-md-6 mt-4">
                    <a id="edit-existing-user" asp-page="./EditExistingUser" class="btn btn-primary w-100">Edit Existing User</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    ViewData["Title"] = "Access Denied!";
    ViewData["ActivePage"] = ManageNavPages.Index;
    <h3>@ViewData["Title"]</h3>
    <p>You do not have permission to access this page.</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
