@page
@model ProfilePictureModel
@using NuJournalPro.Services.Interfaces

@inject IImageService ImageService

@{
    ViewData["Title"] = Model.Input.FullName + " (" + Model.Input.DisplayName + ")";
    ViewData["ActivePage"] = ManageNavPages.ProfilePicture;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="square-img-container">
                <img id="contactImage" class="square-img" src="@ImageService.DecodeImage(Model.Input.ImageData,Model.Input.MimeType)" alt="Profile Picture" />
            </div>
            <div class="mt-4">
                <label asp-for="Input.ImageFile" class="control-label" class="form-label">Select a profile picture for @Model.Username</label>
                <input type="file" asp-for="Input.ImageFile" class="form-control" accept=".jpg,.jpeg,.svg,.png,.gif" onchange="document.getElementById('contactImage').src=window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <button id="update-profile-picture-button" type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}