@model NuJournalPro.Models.ViewModels.ContactUs

@{
    ViewData["Title"] = "Contact Us";
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Want to get in touch? Fill out the form below to send us a message and we'll get back to you as soon as possible!</p>
        <div class="my-5">
            <form asp-action="Contact" asp-controller="Home">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Name" class="form-control" />
                    <label asp-for="Name" class="form-label"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Email" class="form-control" />
                    <label asp-for="Email" class="form-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Phone" class="form-control" />
                    <label asp-for="Phone" class="form-label"></label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Subject" class="form-control" />
                    <label asp-for="Subject" class="form-label"></label>
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-floating mt-4">
                    <textarea asp-for="Message" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div id="success"></div>
                <div class="mt-4 text-end">
                    <button id="sendMessageButton" type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#Message').summernote();
    </script>
    <!--Sweet Alerts-->
    <script>
        let message = '@(ViewBag.SwalMessage)';

        if (!message.includes("Error") && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            })
        } else if (message.includes("Error")) {
            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops...',
                text: message
            })
        }
    </script>
}