@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="wrapper bg-gray">
    <div class="container pt-10 pb-14 pb-md-16">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</section>