@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<section class="wrapper">
    <div class="container pt-10 pb-14 pb-md-16">

        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </div>
</section>
