@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="wrapper bg-gray">
    <div class="container pt-10 pb-14 pb-md-16">
        <h1>@ViewData["Title"]</h1>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</section>