//
// Styles
//

// Import variables
@import './variables';

// Import Bootstrap
@import 'mdb/mdb.free.scss';

// Global CSS
@import './global';

// Components
@import './components/buttons';
@import './components/forms';
@import './components/navbar';

// Sections
@import './sections/footer';
@import './sections/masthead';
@import './sections/post';

// Custom
div.input-group-append > span.input-group-text {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #eeeeee;
}